.contenedor-side {
  background-color: #f1f4fcec;
  height: 100vh;
}


.contenedor-side i {
  width: 1rem !important;
  height: 1rem !important;
}

.nombre-usuario {
  padding: 1rem !important;
  display: grid;
  grid-template-columns: 20% 80%;
}

#icon-user {
  color: rgb(175, 179, 238);
  font-size: 2.5rem;
}

.nombre-usuario h5 {
  font-weight: 600;
  font-size: 1.1rem;
  align-self: center;
  margin-left: 1rem !important;
}

.template p {
  font-size: 1rem;
}

.contenedor-templates {
  width: 70% !important;
  margin: 1rem auto !important;
}

.contenedor-templates div {
  display: grid;
  grid-template-columns: 10% 90%;
}




.relleno {
  width: 80%;
  margin: auto !important;
}

.relleno-div {
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 0.3rem 0 !important;
}

.relleno-div p {
  padding-left: 0.3rem !important;
}

hr {
  width: 70%;
  height: 0.1rem;
  margin: 1rem auto 0.3rem auto !important;
  background-color: rgba(175, 179, 238, 0.7);
  border: 0;
}

.template {
  padding: 0.3rem 0 !important;
  display: grid;
  grid-template-columns: 10% 90%;
}

.add-template span {
  color: black;
  position: relative;
  right: 0.2rem;
}

/*Page*/

.divider {
  width: 100% !important;
}

.page {
  margin: 1rem 2rem !important;
}

.add-page {
  display: grid;
  grid-template-columns: 90%;
  justify-content: center;
  
}
.add-page input {
  width: 90%;
  margin: 0 auto !important;
}

.add-page .button {
  border: 1px solid rgba(44, 43, 43, 0.349);
  margin-top: .3rem !important;
  transition: .3s ;
}
.add-page .button:hover {
  background-color: rgba(78, 78, 78, 0.836);
  color: cornsilk;
}


.escrito-input {
  width: 90% !important;
  margin: 0 auto !important;
 
    background-attachment: local;
    background-image:
        linear-gradient(to right, white 10px, transparent 10px),
        linear-gradient(to left, white 10px, transparent 10px),
        repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
    line-height: 31px;
    padding: 8px 10px;
    border: none;
    height: 100vh !important;
}

.escrito-input:focus {
  border: none;
  outline: none;
}
