.all-container-top-presupuesto .content {
  background-color: rgba(224, 230, 245, 0.808);
  -webkit-box-shadow: 1px 1px 5px 2px rgba(176, 167, 176, 1);
  -moz-box-shadow: 1px 1px 5px 2px rgba(176, 167, 176, 1);
  box-shadow: 1px 1px 5px 2px rgba(176, 167, 176, 1);
  width: 100%;
  height: 10rem;
  color: black;
}

.all-container-top-presupuesto .content {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  justify-content: space-evenly;
  text-align: left;
}

.all-container-top-presupuesto {
  position: relative;
}
.type {
  margin: 1rem !important;
}
.content h3 {
  background-color: #a7afc6;
  text-align: center;
}

.low-content {
  margin: 2rem !important;
  height: 100vh;
}

.table-presupuesto {
  width: 100%;
  background-color: rgb(245, 222, 222);
  border-collapse: collapse;
}

.low-content h2 {
  text-align: center;
  margin-bottom: 1rem !important;
}

.low-ingresos {
  margin-top: 2rem !important;
}

.table-presupuesto td {
  padding-left: 1rem !important;
  border-bottom: 1px solid rgba(150, 149, 149, 0.508);
}

.table-presupuesto tr {
  height: 3rem !important;
}
.table-header {
  background-color: #a7afc6 !important;
  height: 2rem;
  color: aliceblue;
  font-weight: 500;
}

.icon-value {
  text-align: center;
}

.top-of-table .add {
  text-align: right;
  width: fit-content;
}

.top-of-table .add:hover {
  cursor: pointer;
}
.button:hover {
  cursor: pointer;
}

.right {
  margin-bottom: 0.3rem !important;
  height: 2rem;
  background-color: #a7afc6;
  border-radius: 3%;
}

.right p {
  padding-left: 1rem !important;
  line-height: 2rem;
}

/*Add*/
.contenedor-add {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: aliceblue !important;
}

.content-form form {
  display: grid;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: rgba(224, 230, 245, 0.808);
  -webkit-box-shadow: 1px 1px 5px 2px rgba(176, 167, 176, 1);
  -moz-box-shadow: 1px 1px 5px 2px rgba(176, 167, 176, 1);
  box-shadow: 1px 1px 5px 2px rgba(176, 167, 176, 1);
  width: 100%;
  height: 10rem;
  color: black;
}

.content-form-presupuesto form {
  grid-template-columns: repeat(4, 15%);
  justify-content: space-evenly;
}

.content-form select {
  width: 100%;
}
.content-form label {
  color: #a7afc6;
}

.content-form .button {
  background-color: #ddd;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}

.content-form .button:hover {
  background-color: #a7afc6;
  color: white;
  border: none;
}

.content-form-meta form {
  width: 50%;
  justify-content: center;
  margin: auto !important;
}

/*Error*/

.error-text-presupuestador {
  width: 100% !important;
  color: black;
  line-height: 2rem;
  color: white;
  background-color: rgba(179, 105, 105, 0.85);
  text-align: center;
  text-transform: uppercase;
}
