.contenedor {
  max-width: 1240px;
  margin: 7rem auto !important;
}

.divider {
  display: grid;
  grid-template-columns: 55% 45%;
}

.right img {
  max-width: 600px;
}

.left h2 {
  font-size: 2.8rem;
  max-width: 80%;
  padding-bottom: 2rem !important;
}

.left p {
  max-width: 90%;
  font-size: 1.5rem;
}

/*Footer*/

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding-top: 2rem !important;
  display: grid;
  grid-template-columns: 30% 23.3% 23.3% 23.3%;
}

.first p {
  max-width: 90%;
  font-size: 20px;
}

.footer ul li {
  padding: 0.3rem 0 !important;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.7);
}

.footer h3 {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
  padding-bottom: 1rem !important;
}
